#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#buttons {
    width: 25%;
    display: grid;
    grid-template-areas: 
        't t t t'
        'a p p p'
        'a p p p'
        'b p p p'
        'b c c c';
    grid-gap: 10px;
    height: 22vw;
    text-transform: uppercase;
}

#siteTitle {
    text-align: left;
    grid-area: t;
    color: #e1e1e1;
    line-height: 0;
    margin-bottom: 0;
}

#aboutButton {
    background-color: #fff125;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
}

#aboutLink {
    display: grid;
    grid-area: a;
}

#projectsButton {
    background-color: #1d88fb;
    display: flex;
    flex-flow: column;
    justify-content: end;
    align-items: start;
}

#projectsLink {
    display: grid;
    grid-area: p;
}

#contactButton {
    background-color: #39ff86;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
}

#contactLink {
    display: grid;
    grid-area: c;
}

#blogButton {
    background-color: #ff49ad;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: end;
}

#blogLink {
    display: grid;
    grid-area: b;
}

.mainButton {
    padding: 20px;
    font-weight: 600;
    color: #2E2E31;
    transition-duration: 0.4s;
}

.mainButton:hover {
    font-size: 1.6em;
    transition-duration: 0.4s;
}

.bi {
    font-size: 4em;
}